@font-face {
  font-family: 'Lexend Deca';
  src: url('./../../assets/fonts/LexendDeca-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Big Shoulders Display';
  src: url('./../../assets/fonts/BigShouldersDisplay-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

