$font-family: (
   "principal": "Lexend Deca",
   "alternativa": "Big Shoulders Display",
);

$colores: (
  "BrightOrange": hsl(31, 77%, 52%),
  "DarkCyan2": hsl(184, 100%, 22%),
  "VeryDarkCyan": hsl(179, 100%, 13%),
  "TransparentWhite": hsla(0, 0%, 100%, 0.75),
  "VeryLightGray": hsl(0, 0%, 95%),
  "Blanco": #ffffff,
);

$paddings : (0px, 4px, 6px, 8px, 10px, 12px, 16px, 20px, 24px, 32px, 40px, 48px, 64px, 80px, 96px, 128px,160px);

$margins : (0px, 4px, 6px, 8px, 10px, 12px, 16px, 20px, 24px, 32px, 40px, 48px, 64px, 80px, 96px, 128px);

$font-sizes : (12px, 14px, 16px, 18px, 20px, 24px, 30px, 36px, 64px);

$border-radius : (0px, 2px, 4px, 6px, 8px, 10px, 16px, 32px , 48px);

$shadows : ("0 1px 3px hsla(0, 0%, 2%)", "0 4px 6px hsla(0, 0%, 50%)", "0 5px 15px hsla(0, 0%, 50%)", "0 10px 24px hsla(0, 0%, 50%)", "0 15px 35px hsla(0, 0%, 50%)");

